<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Expressions history</title>
</head>
<body>
    <table border="1px">
        <tr>
            <th>Выражение</th>
            <th>Ответ</th>
        </tr>
        {% for item in expression_history %}
        <tr>
            <td> {{ item.expression }}</td>
            <td> {{ item.answer }}</td>
        </tr>
        {% endfor %}
    </table>
    <ul>
        <li><a href="http://127.0.0.1:8000/">Главная</a>.</li>
        <li><a href="http://127.0.0.1:8000/time/">Текущее время</a>.</li>
        <li><a href="http://127.0.0.1:8000/calc/">Калькулятор</a>.</li>
        <li><a href="http://127.0.0.1:8000/expression/">Арифметическое выражение</a>.</li>
        <li><a href="http://127.0.0.1:8000/history/">История арифметических выражений</a>.</li>
    </ul>
</body>
</html>