<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django</title>
</head>
<body>
    <h1 align="center">Курс "Промышленное программирование"</h1>
    <p align="center">Автор - {{name}}</p>
    <p align="center">Кол-во страниц: {{pages_count}}</p>
    <h1></h1>
    <ul>
        <li><a href="http://127.0.0.1:8000/">Главная</a>.</li>
        <li><a href="http://127.0.0.1:8000/time/">Текущее время</a>.</li>
        <li><a href="http://127.0.0.1:8000/calc/">Калькулятор</a>.</li>
        <li><a href="http://127.0.0.1:8000/expression/">Арифметическое выражение</a>.</li>
    </ul>
</body>
</html>