<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Время</title>
</head>
<body>
    <h1 align="center">Курс "Промышленное программирование"</h1>
    <ul>
        <li>Сегодня - {{date}}</li>
        <li>Сейчас - {{time}}</li>
    </ul>
    <ul>
        <li><a href="http://127.0.0.1:8000/">Главная</a>.</li>
        <li><a href="http://127.0.0.1:8000/time/">Текущее время</a>.</li>
        <li><a href="http://127.0.0.1:8000/calc/">Калькулятор</a>.</li>
        <li><a href="http://127.0.0.1:8000/expression/">Арифметическое выражение</a>.</li>
        <li><a href="http://127.0.0.1:8000/history/">История арифметических выражений</a>.</li>
        <li><a href="http://127.0.0.1:8000/delete/">Удалить последнее выражние</a>.</li>
        <li><a href="http://127.0.0.1:8000/clear/">Сбросить таблицу</a>.</li>
        <li><p>Для создания своего выржаение перейдите по /new/?operation=(ваша операция)</p></li>
    </ul>
</body>
</html>